{% extends "layout.html" %}
{% set active_page = 'details' %}
{% block body %}
 <div class="" id="details" role="tabpanel" aria-labelledby="v-pills-home-tab">

    <p>
        <h2>{{ game['name'] }}</h2>
        <img height="25px" width="25px" src="data:image/png;base64,{{ game['icon'] }}" alt="Icon" >
        <small>Version: {{ game['version'] }}</small>
    </p>

    <div class="text-justify">
      {% if game['image'] %}

      <div id="carouselExampleIndicators" class="carousel slide float-md-right" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="data:image/png;base64,{{ game['image'] }}" alt="First slide">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    {% endif %}

{{ game['description'] }}
</div>
      <div class="clearfix"></div>
  </div>
{% endblock %}
