{% extends "layout.html" %}
{% set active_page = 'admin' %} 
{% block body %}
<div class="" id="settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
  <form method="POST" enctype="multipart/form-data">
    <h2>Edit Game</h2>
    <input type="hidden" value="{{ values['id'] }}" name="gid" />
    <input type="hidden" value="{{ values['image'] }}" name="ghimage" id="ghimage" />
    <div class="form-group">
      <label for="name">Name</label>
      <input value="{% if values['name'] %}{{values['name']}}{% endif %}" type="text" name="gname" class="form-control{% if errors['gname'] %} is-invalid{% endif %}" placeholder="Game name"/>
      {% if errors['gname'] %}
        <div class="invalid-feedback">
          {{ errors['gname'] }}
        </div>
      {% endif %}
    </div>
    <div class="form-group">
      <label for="version">Version</label>
      <input value="{% if values['version'] %}{{values['version']}}{% endif %}" type="text" name="gversion" class="form-control{% if errors['gversion'] %} is-invalid{% endif %}" placeholder="Game version" />
      {% if errors['gversion'] %}
        <div class="invalid-feedback">
          {{ errors['gversion'] }}
        </div>
      {% endif %}
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea name="gdescription" class="form-control{% if errors['gdescription'] %} is-invalid{% endif %}" placeholder="Game description">{% if values['description'] %}{{ values['description'] }}{% endif %}</textarea>
      {% if errors['gdescription'] %}
        <div class="invalid-feedback">
          {{ errors['gdescription'] }}
        </div>
      {% endif %}
    </div>
    {% if values['image'] != "" %}
    <div class="form-group" id="image-contener">
        <img id="image" class="w-25" src="data:image/png;base64,{{ values['image'] }}" />
		<a href="#" class="" id="remove-img">&#215;</a>
    </div>
    {% endif %}
    <div class="form-group">
      <label class="custom-file">
        <input type="file" id="image" name="gimage" class="custom-file-input">
        <span class="custom-file-control"></span>
      </label>
    </div>
    <label for="description">Icon</label>
    <div class="form-group">
      <label class="custom-file">
        <input type="file" id="icon" name="gicon" class="custom-file-input">
        <span class="custom-file-control"></span>
      </label>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>

  </form>
</div>

{% endblock %}
