{% extends "layout.html" %}
{% set active_page = 'index' %} 
{% block body %}
<div class="" id="home" role="tabpanel" aria-labelledby="v-pills-profile-tab">

    <div class="row">

    {% for game in games %}
      <div class="col-12 col-md-6 mb-4">
        <div class="card">
          <img class="card-img-top" src="data:image/png;base64,{{ game['image'] }}" alt="Card image cap">
          <div class="card-body">
            <h4 class="card-title">{{ game['name'] }}</h4>
            <p class="card-text">{{ game['description'][:110] }}...</p>
            <a href="/details/{{ game['id'] }}" class="btn btn-primary">Show</a>
	    {% if admin == 'True' %}
	      <a href="/delete/{{ game['id'] }}" class="btn btn-danger">Delete</a>
	      <a href="/edit/{{ game['id'] }}" class="btn btn-success">Edit</a>
	    {% endif %}
          </div>
        </div>
      </div>
    {% endfor %}

   </div>

  </div>

{% endblock %}
