{% extends "layout.html" %}
{% set active_page = 'messanger' %} 
{% block body %}
<div class="" id="messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
    
    <div class="border rounded p-2" id="messanger">

	<div class="message">
	  <img src="static/images/svg/user.svg" class="rounded float-left rounded-circle m-2" alt="user" width="50">
	  <p class="mb-0"><small class="text-secondary">Kamil Jarosiński</small></p>
	  <p>Taką wiadomość do Ciebie napiszę</p>
	  <div class="clearfix"></div>
	</div>

	<div class="message">
	  <img src="images/svg/user.svg" class="rounded float-right rounded-circle m-2" alt="user" width="50">
	  <p class="text-right mb-0"><small class="text-secondary">Kamil Jarosiński</small></p>
	  <p class="text-right">Taką wiadomość do Ciebie napiszę</p>
	  <div class="clearfix"></div>
	</div>

	<div class="message">
	  <img src="images/svg/user.svg" class="rounded float-left rounded-circle m-2" alt="user" width="50">
	  <p class="mb-0"><small class="text-secondary">Kamil Jarosiński</small></p>
	  <p>Taką wiadomość do Ciebie napiszę</p>
	  <div class="clearfix"></div>
	</div>

	<div class="message">
	  <img src="images/svg/user.svg" class="rounded float-right rounded-circle m-2" alt="user" width="50">
	  <p class="text-right mb-0"><small class="text-secondary">Kamil Jarosiński</small></p>
	  <p class="text-right">Taką wiadomość do Ciebie napiszę</p>
	  <div class="clearfix"></div>
	</div>

	<div class="message">
	  <img src="images/svg/user.svg" class="rounded float-left rounded-circle m-2" alt="user" width="50">
	  <p class="mb-0"><small class="text-secondary">Kamil Jarosiński</small></p>
	  <p>Taką wiadomość do Ciebie napiszę</p>
	  <div class="clearfix"></div>
	</div>

	<div class="message">
	  <img src="images/svg/user.svg" class="rounded float-right rounded-circle m-2" alt="user" width="50">
	  <p class="text-right mb-0"><small class="text-secondary">Kamil Jarosiński</small></p>
	  <p class="text-right">Taką wiadomość do Ciebie napiszę</p>
	  <div class="clearfix"></div>
	</div>

 	<div class="message">
	  <img src="images/svg/user.svg" class="rounded float-left rounded-circle m-2" alt="user" width="50">
	  <p class="mb-0"><small class="text-secondary">Kamil Jarosiński</small></p>
	  <p>Taką wiadomość do Ciebie napiszę</p>
	  <div class="clearfix"></div>
	</div>

	<div class="message">
	  <img src="images/svg/user.svg" class="rounded float-right rounded-circle m-2" alt="user" width="50">
	  <p class="text-right mb-0"><small class="text-secondary">Kamil Jarosiński</small></p>
	  <p class="text-right">Taką wiadomość do Ciebie napiszę</p>
	  <div class="clearfix"></div>
	</div>

	<div class="message">
	  <img src="images/svg/user.svg" class="rounded float-left rounded-circle m-2" alt="user" width="50">
	  <p class="mb-0"><small class="text-secondary">Kamil Jarosiński</small></p>
	  <p>Taką wiadomość do Ciebie napiszę</p>
	  <div class="clearfix"></div>
	</div>

	<div class="message">
	  <img src="images/svg/user.svg" class="rounded float-right rounded-circle m-2" alt="user" width="50">
	  <p class="text-right mb-0"><small class="text-secondary">Kamil Jarosiński</small></p>
	  <p class="text-right">Taką wiadomość do Ciebie napiszę</p>
	  <div class="clearfix"></div>
	</div>


   </div>
<button id="connect" >Connect</button>
  </div>
{% endblock %}
