{% extends "layout.html" %}
{% set active_page = 'messanger' %} 
{% block body %}
<div class="" id="messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
    
    <div class="border rounded p-2" id="messanger">
    
    <h3>Hello in play messanger</h3>
    <hr />
    
    <div id="messenger-contener">
    </div>

	<hr />
	<form>
		<div class="form-group">
			<input id="message-input" type="text" class="form-control" autocomplete="off" />
		</div>
	</form>

   </div>
  </div>
{% endblock %}
